DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_SITE_NAME="木子老师资料商城"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
WECHAT_PAY_MCH_ID=""
WECHAT_PAY_APP_ID=""
WECHAT_PAY_API_V3_KEY=""
FILE_STORAGE_MODE="local"
